<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <display-name>TIW-file-system</display-name>

  <!-- Context Param -->

  <context-param>
    <param-name>dbDriver</param-name>
    <param-value>com.mysql.cj.jdbc.Driver</param-value>
  </context-param>

  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:mysql://localhost:3306/omega_db?serverTimezone=UTC</param-value>
  </context-param>

  <context-param>
    <param-name>dbUser</param-name>
    <param-value>root</param-value>
  </context-param>

  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>myPassword</param-value>
  </context-param>

  <!-- Filters -->

  <!-- Filter mapping -->

  <filter-mapping>
    <filter-name>sessionChecker</filter-name>
    <url-pattern>/folderView</url-pattern>
    <url-pattern>/fileView</url-pattern>
    <url-pattern>/fileMove</url-pattern>
    <url-pattern>/MoveFile</url-pattern>
  </filter-mapping>

  <!-- Welcome -->

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
